@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%; /* HTML ve Body elemanlarına tam yükseklik verin */
  margin: 0;
  padding: 0;
  overflow: auto; /* Gerektiğinde kaydırma çubuğu göstermek için */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply flex flex-col min-h-screen;
  overflow-y: auto; /* Yalnızca dikey kaydırma */
}

main {
  @apply flex-grow;
  min-height: 100vh; /* Ana içeriğin tam ekran olmasını sağlamak için */
  overflow-y: auto; /* Ana içeriğe dikey kaydırma eklemek için */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
